# 01. Importing libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [3]:
# Import ords_prods_merged_updated.pkl
df_ords_prods_merged = pd.read_pickle(r'C:\Users\David\Desktop\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged_updated.pkl')

In [4]:
path =  r'C:\Users\David\Desktop\Instacart Basket Analysis'

In [5]:
# Check dataframe
df_ords_prods_merged.shape

(32404859, 20)

In [6]:
df_ords_prods_merged.head(10)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,7.0,196,1,0,both,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Least busy days,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Least busy days,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,NaN,Mid-range product,Least busy,Least busy days,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,NaN,Mid-range product,Least busy,Least busy days,Most orders
5,3367565,1,prior,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders
6,550135,1,prior,7,1,9,20.0,196,1,1,both,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Busiest days,Most orders
7,3108588,1,prior,8,1,14,14.0,196,2,1,both,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Busiest days,Most orders
8,2295261,1,prior,9,1,16,0.0,196,4,1,both,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Busiest days,Most orders
9,2550362,1,prior,10,4,8,30.0,196,1,1,both,Soda,77,7,9.0,NaN,Mid-range product,Least busy,Least busy days,Average orders

# 03. Grouping data

In [7]:
# Grouping data with pandas
df_ords_prods_merged.groupby('product_name')

In [8]:
# Performing a single aggregation 
df_ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [9]:
# Performing multiple aggregations
df_ords_prods_merged.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.457838   1  99
2                17.277920   1  99
3                17.170395   1  99
4                17.811403   1  99
5                15.215751   1  99
6                16.439806   1  99
7                17.225802   1  99
8                15.340650   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.170638   1  99
12               15.887671   1  99
13               16.583536   1  99
14               16.773669   1  99
15               16.165037   1  99
16               17.665606   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.177343   1  99
20               16.473447   1  99
21               22.902379   1  99

Question 3

The average are different, but this makes sense because the datasets are different because the subset contains only 1 million variables.

# Aggregating data with transform ()

In [10]:
# Create a new loyalty flag using loc
df_ords_prods_merged['max_order'] = df_ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
# Check
df_ords_prods_merged.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,price_range_loc,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,7.0,196,1,0,...,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Least busy days,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Soda,77,7,9.0,NaN,Mid-range product,Least busy,Least busy days,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Soda,77,7,9.0,NaN,Mid-range product,Least busy,Least busy days,Most orders,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,...,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,Soda,77,7,9.0,NaN,Mid-range product,Least busy,Least busy days,Average orders,10
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,prior,22,1,10,14.0,196,1,1,...,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22

# Deriving columns with loc

In [12]:
# create a loyalty flag 
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [13]:
df_ords_prods_merged.loc[(df_ords_prods_merged['max_order'] <= 40) & (df_ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [14]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
# Check 
df_ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [16]:
df_ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

In [17]:
# Perform aggregation to check basic statistics
df_ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

Question 5

New customers spend more, on average, than loyal customers and regular customers. Loyal customers spend less on average.

In [18]:
# Create a spending flag for each user based on the average price across all their orders
df_ords_prods_merged['mean_spend'] = df_ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [19]:
df_ords_prods_merged.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,price_range_loc,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend
0,2539329,1,prior,1,2,8,7.0,196,1,0,...,7,9.0,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,NaN,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,NaN,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,NaN,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,7,9.0,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,prior,7,1,9,20.0,196,1,1,...,7,9.0,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,7,9.0,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,7,9.0,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,7,9.0,NaN,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,7,9.0,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,7,9.0,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,7,9.0,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,7,9.0,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,prior,22,1,10,14.0,196,1,1,...,7,9.0,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556

In [20]:
df_ords_prods_merged.loc[df_ords_prods_merged['mean_spend'] < 10, 'spender_flag'] = 'Low spender'

In [21]:
df_ords_prods_merged.loc[df_ords_prods_merged['mean_spend'] >= 10, 'spender_flag'] = 'High spender'

In [22]:
# Check flag
df_ords_prods_merged['spender_flag'].value_counts(dropna = False)

spender_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [23]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,price_range_loc,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spender_flag
0,2539329,1,prior,1,2,8,7.0,196,1,0,...,9.0,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,9.0,NaN,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender
2,473747,1,prior,3,3,12,21.0,196,1,1,...,9.0,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,9.0,NaN,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender
4,431534,1,prior,5,4,15,28.0,196,1,1,...,9.0,NaN,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender

In [24]:
# Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column
df_ords_prods_merged['median_order_frequency'] = df_ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [25]:
df_ords_prods_merged.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spender_flag,median_order_frequency
0,2539329,1,prior,1,2,8,7.0,196,1,0,...,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,NaN,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.0
2,473747,1,prior,3,3,12,21.0,196,1,1,...,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,NaN,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.0
4,431534,1,prior,5,4,15,28.0,196,1,1,...,NaN,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.0
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
6,550135,1,prior,7,1,9,20.0,196,1,1,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.0
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.0
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.0
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,NaN,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.0
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,8.0
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,8.0
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,8.0
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,8.0
14,487368,15,prior,22,1,10,14.0,196,1,1,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,8.0

In [26]:
df_ords_prods_merged['median_order_frequency'].isnull().sum()

0

In [27]:
df_ords_prods_merged.loc[df_ords_prods_merged['median_order_frequency'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [28]:
df_ords_prods_merged.loc[(df_ords_prods_merged['median_order_frequency'] <= 20) & (df_ords_prods_merged['median_order_frequency'] > 10), 'order_frequency_flag'] = 'Regular customer'

In [29]:
df_ords_prods_merged.loc[df_ords_prods_merged['median_order_frequency'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [30]:
#Check flag
df_ords_prods_merged['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        22790523
Regular customer          6927608
Non-frequent customer     2686728
Name: count, dtype: int64

In [31]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spender_flag,median_order_frequency,order_frequency_flag
0,2539329,1,prior,1,2,8,7.0,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer

In [32]:
# Export data as pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated_V2.pkl'))

In [34]:
# Fix
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] >100, 'prices'] = np.nan

In [35]:
# Export data as pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated_V3.pkl'))